node_modules/
mongo-data/collection-2-2646245242397875174.wt
mongo-data/WiredTiger
mongo-data/_mdb_catalog.wt
mongo-data/_mdb_catalog.wt
mongo-data/collection-0-2646245242397875174.wt
mongo-data/collection-4-2646245242397875174.wt
mongo-data/WiredTiger.wt
mongo-data/diagnostic.data/metrics.2019-03-31T20-16-35Z-00000
mongo-data/index-1-2646245242397875174.wt
mongo-data/index-3-2646245242397875174.wt
mongo-data/index-6-2646245242397875174.wt
mongo-data/index-5-2646245242397875174.wt
mongo-data/journal/WiredTigerLog.0000000001
mongo-data/journal/WiredTigerPreplog.0000000002
mongo-data/journal/WiredTigerPreplog.0000000001
mongo-data/mongod.lock
mongo-data/sizeStorer.wt
mongo-data/storage.bson
mongo-data/WiredTiger.lock
mongo-data/WiredTiger.turtle
mongo-data/WiredTigerLAS.wt
